
.container{
	color: #b31e1e;
    padding: 20px;
	display: block;
	text-align: center;
}


.left-slideshow{
	display: inline-block;
	position: absolute;
	left: 40px;
	top: -5px;
	width: 284px;
	height: 429px;
	border-radius: 15px;
	-webkit-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	-moz-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
}
.slider-frame{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}

.image-style{
	height: 429px;
}



@keyframes slide-animation-up{
	0% {top: 0;}
	6% {top: -433px;}
	12% {top: -866px;}
	18% {top: -1299px;}
	24% {top: -1732px;}
	30% {top: -2165px;}
	36% {top: -2598px;}
	42% {top: -3031px;}
	50% {top: -3031px;}
	56% {top: -3031px;}
	62% {top: -2598px;}
	68% {top: -2165px;}
	74% {top: -1732px;}
	80% {top: -1299px;}
	86% {top: -866px;}
	92% {top: -433px;}
	100% {top: 0;}
}

.slide-images-up{
	width: 100%;
	height: 100%;
	position: relative;
	animation-name: slide-animation-up;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}